/* Estilos para a lista de pacientes */
.pacientes-list {
  margin-top: 20px;
}

.titleTable{
  width: 100%;
  font-size: 18px;
  color: gray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link{
    text-decoration: none;
    margin-left: 2px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }

.link:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Estilos para tornar a tabela responsiva */
@media screen and (max-width: 768px) {
  table {
    font-size: 14px;
  }
  
  th, td {
    padding: 8px;
  }
}
