/* Estilos padrão do botão de logout */
.logout-button {
  background-color: #ccc;
  color: #406e9b;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}


.logout-button svg {
  margin-right: 5px;
}

/* Efeito de hover */
.logout-button:hover {
  background-color: #aaa;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .logout-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
