/* Estilos para o conteúdo principal */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.home {
  flex: 1;
  padding: 20px;
}

/* Estilos para tornar responsivo */
@media screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
  }

  .content {
    display: flex;
    flex: 1;
  }

  .home {
    flex: 1;
    padding: 20px;
  }
}
