/* Estilos padrão para o cabeçalho */
.header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  margin-right: 10px;
}

/* Estilos para tornar o cabeçalho responsivo em telas menores */
@media screen and (max-width: 768px) {
  .title {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
    margin: 10px 0;
  }
}
