/* Estilos para o Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer p {
  margin: 0;
}

/* Estilos para tornar responsivo */
@media screen and (max-width: 768px) {
  .footer {
    font-size: 14px;
  }
}
